.dashboard-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px $light-grey solid;
    margin-bottom: 2em;
    .info-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        span {
            margin: auto 1em;
        }
    }
    button {
        padding: 0.5em;
        background-color: white;
        cursor: pointer;
        font-size: 1em;
        width: 50%;
        border: none;
        transition: all 0.3s;
    }
    .last-log {
        padding: 1em;
        font-weight: bold;
        color: white;
        background-color: $warning-yellow;
    }
    .created {
        background-color: $info-blue;
        color: white;
        font-weight: bold;
        padding: 1em;
        margin-top: 1em;
    }
    .edit-button {
        color: $warning-yellow;
        &:hover {
            color: white;
            background-color: $warning-yellow;
        }
    }
    .delete-button {
        &:hover {
            color: white;
            background-color: $error-red;
        }
        color: $error-red;
    }
}

.dashboard-container {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-around;
    a:first-of-type {
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
    .create-button {
        width: 10em;
        font-size: 1.3em;
        padding: 0.5em 1em;
        margin-bottom: 1em;
        background-color: white;
        border: 1px solid dodgerblue;
        color: dodgerblue;
    }
}